@import './base.scss';

body {
    font-family: var(--font-family);
    font-weight: var(--font-semibold);
    font-size: var(--font-size);
    line-height: var(--font-line);

    color: var(--font-color-dark);
    background-color: var(--main-background);

    font-synthesis: none;
    text-rendering: auto;
}

#app {
    min-height: 100vh;

    @media #{$tabletScreen} {
        display: flex;
        padding-left: var(--body-side);
        padding-right: var(--body-side);
    }
}

.wrapper_interface_content {
    display: flex;
    flex-direction: column;
    gap: .7rem;

    @media #{$tabletScreen} {
        gap: var(--gap);
    }
}

.wrapper_interface_paragraph {
    .title {
        margin-bottom: .3em;
        font-size: 1.9em;
    }

    .description {
        color: var(--font-color-text);
        font-size: 1.1em;
    }
}

.size {
    padding-left: var(--body-side);
    padding-right: var(--body-side);

    @media #{$tabletScreen} {
        padding-left: 0;
        padding-right: 0;
    }
}