@import './base.scss';

body {
    font-family: var(--font-family);
    font-weight: var(--font-semibold);
    font-size: var(--font-size);
    line-height: var(--font-line);

    color: var(--font-color-dark);
    background-color: var(--main-background);

    font-synthesis: none;
    text-rendering: auto;
}

#app {
    min-height: 100vh;

    @media #{$tabletScreen} {
        display: flex;
        padding-left: var(--body-side);
        padding-right: var(--body-side);
    }
}

.size {
    padding-left: var(--body-side);
    padding-right: var(--body-side);

    @media #{$tabletScreen} {
        padding-left: 0;
        padding-right: 0;
    }
}