// Big Desktop
$upScreen: "only screen and (min-width: 1440px)";

// Desktop
$desktopScreen: "only screen and (min-width: 1280px)";

// Tablet
$tabletScreen: "only screen and (min-width: 790px)";

// Mobile
$mobileScreen: "only screen and (min-width: 375px)";

// Small Mobile
$downScreen: "only screen and (max-width: 375px)";